.venv/
__pycache__/
*.pyc

.ipynb_checkpoints/

data/raw/
data/interim/
data/processed/
data/external/

outputs/figures/
outputs/tables/
outputs/metrics/

external/

*.egg-info/
.eggs/
build/
dist/

.pytest_cache/
.ruff_cache/

.DS_Store
Thumbs.db